.postFlightContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
}
.headerContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    
}
.postedFlight {
    flex-basis: 30%;
    border-style: solid;
    border-radius: 2.5%;
    margin: 1em 25%;
    align-self: center;
    padding: 1em;
    background-color: #b4c5e48c;
}

.postedFlightChildren {
    align-self: center;
    margin: 1em;
}